.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url("https://unpkg.com/leaflet@1.7.1/dist/images/layers-2x.png");
}

.ConteneurBox{
    padding: 0.4rem;
    width: 50%; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ConteneurButton{
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem  0.2rem black;
    cursor: pointer;
}

.ConteneurListOfPost{
    width: 50%; 
}

.ConteneurPost{
    width: 99%; 
    margin-top: 1rem;
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem  0.2rem black;
}
.ConteneurTitre{
    margin: 0.4rem;
}
.PostTitre {
    font-weight: bold;
    font-size: 1.5rem;
}
.ConteneurInfo{
    margin: 0.4rem 0.4rem 0.4rem 0.8rem;
}
.PostInfo {
    font-size: 0.8rem;
    color: rgb(109, 109, 120);
}
.PostImg{
    width: 100%;
    border-radius: 0.4rem;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
screen and (max-width: 700px)
{
    .ConteneurBox{width: 98%;}
    .ConteneurListOfPost{width: 100%;}
}