html{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

/* Titre */
.Titre{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--NanoX-appcolor);
    word-wrap: break-word;
}

/* Sous Titre */
.SousTitre{
    font-size: 1.5rem;
    color: var(--NanoX-appcolor);
}
/* Texte */
.Text{
    font-size: 1.2rem;
}
.TextSmall{
    font-size: 0.8rem;
    word-wrap: break-word;
}

.ConteneurButton{
    padding: 0.4rem;
    max-width: 700px;
    width: 98%; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem  0.2rem black;
    cursor: pointer;
}


.ConteneurPost{
    width: 99%; 
    margin-top: 1rem;
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem  0.2rem black;
}
.ConteneurTitre{
    margin: 0.4rem;
}
.PostTitre {
    font-weight: bold;
    font-size: 1.5rem;
}
.ConteneurInfo{
    margin: 0.4rem 0.4rem 0.4rem 0.8rem;
}
.PostInfo {
    font-size: 0.8rem;
    color: rgb(109, 109, 120);
}